<app-layout>
  <app-movie-search
    (search)="search($event)"></app-movie-search>

  <div class="title-holder">
    <h1>{{searching ? 'Search' : 'Latest'}}</h1>

    <button mat-raised-button color="primary" (click)="toggleSearch()" *ngIf="searching">
      Exit Search
    </button>
  </div>

  <div *ngIf="!isLoading; else loading" class="list-holder" >
    <app-movie-card *ngFor="let m of movies" [movie]="m"></app-movie-card>
  </div>

  <ng-template #loading>
    <app-spinner></app-spinner>
  </ng-template>

</app-layout>
