@import 'variables';

:host {
  max-width: 100%;
  padding: $spacer/1.3;
  @media ($xs-up) {
    max-width: 50%;
  }
  @media ($md-up) {
    max-width: 25%;
  }
}

mat-card {
  cursor: pointer;
  animation: all .7s ease;

  mat-card-content {
    min-height: 135px;
    margin: 0;
  }
}
