@import "variables";

.image-column {
  flex: 1;
  @media ($xs-down) {
    display: none;
  }

  img {
    max-width: 400px;
  }
}
.description-column {
  flex: auto;
  padding: 0 $spacer $spacer $spacer;
  h1 {
    margin-top: 0;
  }
}
