@import "variables";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

* {
  box-sizing: border-box;
}

html, body {
  padding: 0;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
