@import "variables";

.container {
  width: 100%;
  max-width: 1300px;
  padding: $spacer;
  margin: 0 auto;
}

.side-nav {
  min-width: 250px;
}

.mat-sidenav-container {
  min-height: 100%;
  background: #fafafa;
}
